#app {
    width: 100vw;
    height: 100vh;
  }
  .content {
    height: 90vh;
  }

  .input-group-text {
    border-radius: 30px !important;
    background-color: white !important;
    width: 100%;
  }
  .input-custom {
    border: none;
    background: transparent;
  }
  .input-custom:focus {
    outline: none !important;
  }